module.exports = {
    discord_bot_token: '',
    database: {
        mysql: {
            host: '',
            user: '',
            password: '',
            database: '',
            port: 
        }
    },
    restocks: {
        channels: {
            eu: [ ],
            us: [ ],
            jpn: [ ]
        },
    },
    logger: {
        discord_log_channel_ids: [ ],
    }
};